// Footer
.page-footer {
  padding-top: 10px;
  color: $footer-font-color;
  background-color: $footer-bg-color;

  .footer-copyright {
    overflow: hidden;
    min-height: 20px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: $footer-copyright-font-color;
    background-color: $footer-copyright-bg-color;
  }
}